{% extends "base.html" %}

{% block center %}
<form action="{{ url_for('add_post') }}" method="post">
    <div class="form-group">
        <label>назва ресторана</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label>введите IP ресторана </label>
        <textarea name="text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <select name="author_id" class="form-control">
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary">Додати ресторан</button>
</form>
{% endblock center %}